 <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Biblioteca</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:if="${session.usuariosession!=null}"href="/autor.html">Autor</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"th:if="${session.usuariosession!=null}" href="/editorial.html">Editorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"th:if="${session.usuariosession!=null}" href="/libros.html">Libros</a>
                      </li>
                       <a class="nav-link"th:if="${session.usuariosession!=null}" th:href="@{/perfil}">Perfil</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"th:if="${session.usuariosession!=null}" href="/logout">Cerrar </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"th:if="${session.usuariosession==null}" href="/registrar">Registrate </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"th:if="${session.usuariosession==null}" href="/login">Login </a>
                      </li>
                  </ul>
                  <span class="navbar-text">
                    Navegacion de la biblioteca
                  </span>
                </div>
              </nav>